In [5]:
import os
import pandas as pd
from params import *

In [11]:
tiny_dir = '/home/kenjiro/code/kieran-byrne/Geo_Learning/data/tiny_dataset'
countries = []
files = []
for dir in os.listdir(tiny_dir):
    for file in os.listdir(os.path.join(tiny_dir,dir)):
        countries.append(dir)
        files.append(file)
print(len(countries), len(files))

7397 7397

In [13]:
dictionary = {'file_name': files,
              'country': countries}
pd.DataFrame.from_dict(dictionary)

                  file_name       country
0     canvas_1629325813.jpg        Poland
1     canvas_1629699606.jpg        Poland
2     canvas_1629263006.jpg        Poland
3     canvas_1629683434.jpg        Poland
4     canvas_1629502163.jpg        Poland
...                     ...           ...
7392  canvas_1629938034.jpg  South Africa
7393  canvas_1629750321.jpg  South Africa
7394  canvas_1629433948.jpg  South Africa
7395  canvas_1630259494.jpg  South Africa
7396  canvas_1629330263.jpg  South Africa

[7397 rows x 2 columns]

In [ ]:
def make_average_slices(img):
    img_top = img[:220]
    img_mid = img[220:440]
    img_low = img[440:660]
    average_top = img_top.mean(axis=0).mean(axis=0)
    avg_patch_top = np.ones(shape=img_top.shape, dtype=np.uint8)*np.uint8(average_top)
    average_mid = img_mid.mean(axis=0).mean(axis=0)
    avg_patch_mid = np.ones(shape=img_mid.shape, dtype=np.uint8)*np.uint8(average_mid)
    average_low = img_low.mean(axis=0).mean(axis=0)
    avg_patch_low = np.ones(shape=img_low.shape, dtype=np.uint8)*np.uint8(average_low)
    img_average = np.concatenate((avg_patch_top,avg_patch_mid,avg_patch_low),axis=0)
    io.imshow(img_average)
    return img_average
img_average = make_average_slices(img)
type(img_average)